*.pyc
*.log
*.txt
bulgarian-guide.xml
serbian-guide.xml
bulgarian-guide.xml.gz
bulgarian-guide.xml.tar.gz
serbian-guide.xml.gz
serbian-guide.xml.tar.gz
russian-guide.xml
russian-guide.xml.gz
russian-guide.xml.tar.gz
